<!Doctype html>
<html>
  <head>
    <title>Info3180-lab2</title>
    <link rel="stylesheet" type="text/css" href="/static/css/profile.css">
  </head>
  
  <a href="/profile/{{time_info}}">
  <body>
    
    <div id =' profilePic'>
     <img src='http://lh6.googleusercontent.com/-lMRwHQ0GotI/AAAAAAAAAAI/AAAAAAAAAFs/uT4VW7hlZj8/photo.jpg'/> 
    </div>
    
    <table id ="profileTableID">
      <tbody>
        
        <tr>
           <td>
              <div id ='name'>
              <h1> Leon-Neil Nash</h1>
              </div>
          </td>
        </tr>
    
        <tr>
           <td>
             </br>
              </br>
          </td>
        </tr>
    
    
        
        <tr>
          <td>
          <div id ='timeinfo'>
          Today is: {{time_info}} 
          </div>
          </td>
        </tr>
        

        <tr>
            <td>
              <div class ='profile'> 
              <p> Username: Leon-Neil Nash</p>
              <p> 620056991</p>
              <p> Sex:Male</p>
              <p> Age:22</p>
              <p> Highscore:10</p>
              
              </div>
          </td>
        </tr>
        <tbody>
    </table>
  </body> 
      
  

<html/>